/* Signup css */
.set-font{
  font-size: 25px;
  color: #9b9090;
  font-family: sans-serif;
}
.set-background{
  background: #9b9090;
  color: white;
  border-radius: 0px;
}
.vertical-divider {
  position: absolute;
  border-right: 3px solid #9b9090;
  top: 40%;
  bottom: 20%;
  left: 50%;
}
